@import url('https://fonts.googleapis.com/css?family=Raleway');

html,body{
    font-family: 'Raleway', sans-serif;
}
.resume {
    margin-top: 15px;
}

.ref-links > a {
    margin: 5px;
    color: black;
}

.ref-links > a:hover {
    font-size: 1.5rem;
}

.resume-main {
    margin-top: 25px;
}

.work-role{
    margin-left: 1.5rem;
    font-size: 18px;
}
.work-name,.work-time {
    margin-left: 2.8rem;
}

.work-content {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.workexp{
    margin-top:15px;
}
.work-time{
    margin-top: 10px;
}

.work-desc{
    margin-left: 2.8rem;
    margin-right: 1.7rem;
    font-size: 15px;
}

.project{
    width:100%;
    /*box-shadow: 1px 1px 2px gray;*/
}

.project-title {
    text-align: center;
    
}

.project {
    margin-top: 50px;
}

.projects > li:hover{
    cursor:pointer;
    text-decoration: underline;
    font-size:17px;
}

.tech-desc {
    font-size: 14px;
}

.tech-titles {
    font-size: 16px;
    margin-top: 10px;
}

.interest-title {
    margin-top: 40px;
}

.edu-section {
    margin-top: 20px;
}

.user-contact > td {
    margin-left: 10px;
}