
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background-color: #f2f2f2;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333;
}

h1 {
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
}

.centered {
  text-align: center;
}

/* Links */
a {
  color: #1abc9c;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  text-transform: uppercase;
  margin-bottom: 0px;

}

.navbar-dark {
  padding-bottom: 40px;
  padding-top: 40px;
  color: white;
}

.navbar-brand {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
}

.navbar-nav > li > a {
  font-weight: 500;
  font-size: 15px;
}

.navbar-nav > li > a:hover {
  font-weight: 700;
}
/* Helpers */

.welcome {
  padding-top: 50px;
  padding-bottom: 50px;
}

.welcome > h1,
p {
  margin-left: 15px;
  margin-right: 15px;
}

.profile-img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 180px;
  border-radius: 15%;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-link {
  color: black;
  font-size: 1.5rem;
}

.skills {
  background-color: white;
}
.typing {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.typed {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333;
  display: inline-block;
  padding: 10px;
  font-size: 28px;
}

.type-cursor {
  font-size: 28px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: black;
}
.home-links > a {
  color: black;
  font-size: 18px;
}
.home-links > a:hover {
  font-size: 22px;
}
.ilink {
  margin-left: 5px;
  margin-right: 5px;
}

#footer {
  background-color: #2f2f2f;
  bottom: 0;
  width: 100%;
}

.progress {
  margin-top: 10px;
  margin-bottom: 10px;
}

.story {
  border-left: 2px solid green;
}

.about-hr {
  float: right;
  width: 15%;
  padding: 0;
  margin-top: 0;
}

.about {
  background-color: white;
}
.about-title {
  text-align: right;
}

.links > div > a > img {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  height: 25px;
  width: 25px;
}

.container {
  max-width: 100%;
}

/*
.parallax {
    min-height: 500px; 
    background-image: url("../images/pbg2.jpg");
    background-attachment: fixed;
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-two {
    min-height: 500px; 
    background-image: url("../images/pbg.jpg");
    background-attachment: fixed;
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#initShow{
    display: none;
}

.hideme{
    opacity:0;
}*/
